# Maven build
target/
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Configs de IDE
.idea/
*.iml
.vscode/

# Docker y Git
.dockerignore
.git/
.gitignore
.gitattributes

# Archivos de entorno
.env

# Datos persistentes
postgres_data/

# Documentación y otros
docs/
HELP.md
README.md
