GAMEHUB_DATASOURCE_USERNAME=gamehub-user
GAMEHUB_DATASOURCE_PASSWORD=gamehub-password
GAMEHUB_DATASOURCE_DATABASE=gamehub-db
GAMEHUB_DATASOURCE_URL=r2dbc:postgresql://localhost:5432/${GAMEHUB_DATASOURCE_DATABASE}