# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/

# Compiled extensions
*.so

# Distribution / packaging
*.egg-info/
.eggs/

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# Environment variables
.env
.env.*
!.env.example

# Virtual environments
.venv/
venv/
env/
ENV/

# Logs
*.log

# IDEs / Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Database Directory
data-source/
